.header {
    height: 54vh;
    background-image: linear-gradient(
        to right bottom,
        rgba(61, 149, 250, 0.082),
        rgba(14, 59, 110, 0.938)),
        url('../../../homeCover.jpg');
    background-size: cover;
    background-position: top;
    position: relative;
}
.header .header-container {
    width: 70vw;
    text-align: center;
    position: absolute;
	top: 8rem;
	bottom: 0;
	left: 0;
	right: 0;
    margin: auto;
}
.header h1 {
    color: #ffffff;
    font-size: 2rem;
    font-weight: bolder;
    line-height: 1.1;
}

.search_form {
    margin-top: 4rem;
}

.search_form input {
    height: 44px;
    width: 65%;
    border: none;
    padding: 1rem;
}

.search_form button {
    border: none;
    height: 44px;
    background-color: #0ed085;
    color: #fff;
    border-radius: 0;
    width: 30%;
    text-transform: uppercase;
    position: relative;
    transition: all ease 0.3s;
    -webkit-transition: all ease 0.3s;
    -moz-transition: all ease 0.3s;
    -o-transition: all ease 0.3s;
    -ms-transition: all ease 0.3s;
}
.search_form button:hover, .search_form button:focus, .search_form button:active, .search_form button:visited {
    background-color: rgba(14, 208, 134, 0.807);
    transition: all ease 0.3s;
    -webkit-transition: all ease 0.3s;
    -moz-transition: all ease 0.3s;
    -o-transition: all ease 0.3s;
    -ms-transition: all ease 0.3s;
}

.main-body {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding:0 10% 0 10% ;
}
.modal-container {
    width: 100vw;
    height: 100vh;
}
.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
}
.modal .modal-main {
    position: fixed;
    background: white;
    width: 80%;
    height: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.display-block {
    display: block;
}

.display-none {
    display: none;
}